:root{
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --rating-color: #FFCE3E;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var( --header-height) - var(--navbar-height))
}

*{
    box-sizing: inherit;
}

html{
    /* font size 100% then text height 1 rem = 16px
       font size 62.5 then text 1.6 height rem = 16px */
    font-size: 62.5%;
     line-height: 1.6rem;   
     font-family: 'Roboto', sans-serif;
     box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* TEST */

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid-column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: var(--growth-from);
    }to{
        transform: var(--growth-to);
    }
}

/* MODAL */

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex  ;
    animation: fadeIn linear .2s;
}

.modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear .2s;
}

/* BUTTON */

.btn {
    min-width: 124px;
    height: 36px;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}

.auth-form__controls-back:hover {
    background-color: #ddd;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
    margin-left: 8px;
    cursor: pointer;
}

.btn.btn--with-icons {
    text-decoration: none;
    height: 32px;   
    font-size: 1.6rem;
    padding: 0 16px;
}





/* SELECTION */

.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    cursor: pointer;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__list {
    position: absolute;
    top: 26px;
    background-color: var(--white-color);
    list-style: none;
    padding: 8px 16px;
    left: 0;
    right: 0;
    border-radius: 2px;
    display: none;
    z-index: 1;
}

.select-input__list::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -5px;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    position: relative;
    top: 1px;
}

.select-input__items-links {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 5px 0;
}

.select-input__items-links:hover {
    color: var(--primary-color);
}

/* PAGINATION */

.home-pagination__list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.home-pagination__items{
    
}

.home-pagination__links{
    display: block;
    font-size: 2rem;
    line-height: 3rem;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    margin: 0 8px;
}

.home-pagination__links--active.home-pagination__links {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.home-pagination__links-icon {
    margin-top: 10px;
}


